[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pycountry = "*"
nltk = "*"
click = "*"
plumbum = "*"
pyahocorasick = "*"
pygtrie = "*"
finntk = {git = "https://github.com/frankier/finntk.git", editable = true}
mafan = "*"
opencc = "*"

[dev-packages]

[requires]
python_version = "3.6"
