[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"stiff" = {path = ".", extras = ["dev"], editable = true}
nltk = {editable = true, ref = "ecced11335a8942beeab4ed9020eb93f18457d10", git = "https://github.com/nltk/nltk"}

[dev-packages]

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
